.textField {
  font-family: 'Roboto', sans-serif;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  &--outlined {
    .input {
      border: 1px solid rgba(0, 0, 0, 0.23);
      border-radius: 4px;
      padding: 12px 14px;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: rgba(0, 0, 0, 0.87);
      }

      &:focus {
        border-color: #1976d2;
        border-width: 2px;
        outline: none;
        padding: 11px 13px; // Компенсируем увеличение border-width
      }
    }
  }

  &--error {
    .input {
      border-color: #d32f2f;
      color: #d32f2f;

      &:hover {
        border-color: #d32f2f;
      }

      &:focus {
        border-color: #d32f2f;
      }
    }

    .label,
    .helperText {
      color: #d32f2f;
    }
  }
  &--fullWidth {
    width: 100%;
  }
}

.label {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}

.helperText {
  font-size: 0.75rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}
